<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Set</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/add}">
    <label for="person">Select a person for admin:</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}"
                th:text="${person.getName()}">

        </option>

        <input type="submit" value="SUBMIT"/>
    </select>


</form>

</body>
</html>