<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getName() + ', age: ' + person.getAge() + ', e-mail:' + person.getEmail() + ';'}">VALUE</p>
<p th:text="${'id:' + person.getId() }">VALUE</p>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit this person</a><br/>
<a href="/people">People list</a>
<br/>
<br/>
<hr/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>